.v-application code{
  letter-spacing: 0.8px !important;
}

.rbt-font{
  font-family: "Roboto", serif !important;
}

.bg-gradient--light{
  background: rgb(255,253,250);
  background: -moz-linear-gradient(180deg, rgba(255,253,250,1) 0%, rgba(255,250,242,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,253,250,1) 0%, rgba(255,250,242,1) 100%);
  background: linear-gradient(180deg, rgba(255,253,250,1) 0%, rgba(255,250,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdfa",endColorstr="#fffaf2",GradientType=1);
}
.bg-gradient--dark{
  background: rgb(17,28,36);
  background: -moz-linear-gradient(0deg, rgba(17,28,36,1) 0%, rgba(17,17,17,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(17,28,36,1) 0%, rgba(17,17,17,1) 100%);
  background: linear-gradient(0deg, rgba(17,28,36,1) 0%, rgba(17,17,17,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111c24",endColorstr="#111111",GradientType=1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #029789;
  &:hover {
    border-radius: 4px;
    background: #02796d;
  }
}

::-webkit-scrollbar-track {
  background: #d0ebe45b;
  &:hover {
    background: #60ad9979;
  }
}
