
.nuxt-content-container{
    .nuxt-content-highlight {
      position: relative;
      code {
        background-color: unset !important;
        color: unset !important;
        padding: unset !important;
        font-size: unset !important;
        font-weight: unset !important;
        border-radius: unset !important;
        margin: unset !important;
        box-sizing: unset !important;
        letter-spacing: unset !important;
      }
      .filename {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        color: #fff;
        margin-top: 11px;
        margin-right: 9px;
        background-color: #171e35;
        padding: 5px 16px;
        padding-right: 30px;
        letter-spacing: 0.7px;
      }
      pre[class*='language-'] {
        &:not(.language-text){
          &::before {
            position: absolute;
            right: 15px;
            top: 16px;
            z-index: 1;
            font-family: 'Material Design Icons';
            content: '\F0214';
            color: #fff;
          }
        }
        &.language-js {
          &::before {
            content: '\F031E';
            color: #ffca28;
          }
        }
        &.language-ts {
          &::before {
            content: '\F06E6';
            color: #0288d1;
          }
        }
      }
    }
  }

#app{
    &.theme--dark{
        @import "~prism-themes/themes/prism-material-oceanic";
        code[class*="language-"], pre[class*="language-"]{
            text-shadow: unset !important;
        }
        .token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string{
            background: none;
        }
        .token.comment, .token.prolog, .token.doctype, .token.cdata{
            color: #f7ab55;
        }
    }
    &.theme--light{
        @import "~prism-themes/themes/prism-material-light";
        .token.comment, .token.prolog, .token.doctype, .token.cdata{
            color: #029789;
        }
    }
    &.theme--light, &.theme--dark{
        pre[class*="language-"] {
            overflow: auto;
            position: relative;
            margin: 0.5em 0;
            padding-left: 53px;
        }
        .line-highlight{
            margin-top: 19px;
        }
        .line-numbers .line-numbers-rows{
            top: -1px;
        }
    }
}
.v-application{
    .snippet-container{
        code, kbd{
            font-weight: unset !important;
            background-color: unset !important;
            color: unset !important;
            padding: unset !important;
            font-size: unset !important;
            border-radius: unset !important;
            font-family: unset !important;
    }
}
}

